<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="OKArdalisResult" value="https://pkgs.dev.azure.com/ok-objektkultur/OKPlattform/_packaging/OKArdalisResult/nuget/v3/index.json" />
		<add key="OKServiceNuGetPackages" value="https://pkgs.dev.azure.com/ok-objektkultur/OKPlattform/_packaging/OKServiceNuGetPackages/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="OKServiceNuGetPackages">
			<package pattern="Objk.*" />
		</packageSource>
		<!--https://github.com/NuGet/Home/issues/11406-->
		<!--DotNetCoreCLI pipeline task handles authentication in a deprected way, this is the fix-->
		<packageSource key="feed-OKServiceNuGetPackages">
			<package pattern="Objk.*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<OKArdalisResult>
			<add key="Username" value="Will-be-ignored" />
			<add key="ClearTextPassword" value="%OK_PRIVATE_FEED_PAT%" />
		</OKArdalisResult>
	</packageSourceCredentials>
</configuration>