:root{
  font-size: 1.5rem;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  justify-content:  space-evenly;
}
ul{
  list-style-type: none;
  overflow-y: auto;

  max-height: 35rem;
}
.Title{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  
.background {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Higher value ensures it's on top of other elements */


}
.TimeContainer{
  display: flex;
  position: relative;
  justify-content: center;
}
.Time{
  background-color: red;
  padding: 0.3rem;
  box-shadow:  0px 4px 16px 0px #34578C3D;
  border-radius: 15px;
  
}
.Logo{
  width: 40px;
  height: 40px;
    display: inline-flex;
}
.InteractiveSection{
  background-color: rgb(244, 246, 248);
  padding: 1rem;

}
.label{
display: inline-block;

}
.addingElement{
  
  position: relative;
  display: flex;
  
}
.filterContainer{
  min-width: 10%;
  position: relative;
  display: flex;
}
.filter{
  position: relative;
  display: flex;
margin-top: 0.5rem;

min-width: 5% ;
min-height: 5%;
}
#searchbutton,
#sortbutton{
padding:0.5rem ;
position: static;
display: inline-flex;

}
.TxTInputContainer{

  align-items: center;
  display: inline-flex;
  -webkit-box-align: center;  
  -webkit-box-pack: center;
  justify-content: center;


}

.input_text{
  font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 5px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    -webkit-tap-highlight-color: transparent;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    border-radius: 16px;
    box-shadow:  0px 4px 16px 0px #34578C3D;
    align-items: center;
    display: inline-flex;
    -webkit-box-align: center;
    
    -webkit-box-pack: center;
    justify-content: center;
  

}

.SelectContainer{
  
  align-items: center;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.select{
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 5px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin-right: 1.0rem;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  border-radius: 16px;
  box-shadow:  0px 4px 16px 0px #34578C3D;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}


.btn:hover{
  background-color: #386f1d;
}

.btnContainer{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.btn{
  
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 2;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  min-width: 64px;
  padding: 4px 10px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 85);
  box-shadow: none;
  height: 30px;
  font-size: 13px;
}

.modal-content {

background-color: #fff;
padding: 20px;
position: absolute;
top: 50%;
left: 50%;
padding-left: 2%;
padding-right: 2%;
border-radius: 10px;
transform: translate(-50%, -50%);
}
.close {
position: absolute;
top: 0;
size: 10%;
right: 0;
cursor: pointer;
}



.DateInput{
  border-radius: 10px;
  height: 1.4375em;

}
.DateInputContainer{
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 1rem;
  

}
.todo{
  background-color: #ffffff;
  max-height: 50rem;
  box-shadow:  0px 4px 16px 0px #34578C3D;
  border-radius: 20px;
  margin: 7%;
 

}

.second_Section{
  display: block;
  position: relative;
  padding-bottom:20%;
  margin-top: 0.7rem;
 
  
}
.listElements{
background-color: #10b981;
}
input[type=button]{
position: static;


}

li{

margin-top: 10px;
display: flex;
position: relative;
align-items: center;

}
.block1{
min-width: 33%;
float: left;
}

.block2{
float:right;
min-width: 33%;

}
.block3{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.TodoItem{
  width: 98%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(244, 246, 248)  ;
  border-radius: 15px;
}
.TodoTextContainer{
  position: relative;
  display: flex;
  min-width: 30%;
}
.TodoCheckbox{
  margin-right: 1rem;
  cursor: inherit;
  display: flex;
  position: relative;
   

  z-index: 1;
}
.TodoCheckboxContainer{
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(99, 115, 129);
  padding: 8px;
  height: 1.75rem;
  width: 1.75rem;
  z-index: 0;
}




